<x-main>
  <div class="bg-zinc-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <x-header />
          <table class="w-full">
            <tr>
              <td class="p-12 sm:px-6 text-base text-zinc-800 bg-white rounded shadow-sm">
                <p class="leading-6 mt-0">
                  Hi @{{ $user->name }},
                </p>

                <p class="leading-6">
                  We received a request to reset your password. Click the button below to create a new password:
                </p>

                <x-spacer height="24px" />

                <div class="text-center">
                  <x-button href="@{{ $url }}">
                    Reset Password &rarr;
                  </x-button>
                </div>

                <x-spacer height="24px" />

                <p class="leading-6">
                  This link expires in 60 minutes. If you didn't request a password reset, you can safely ignore this email.
                </p>
                <p class="leading-6 mb-0">
                  Best regards,
                  <br />
                  The TryPost Team
                </p>
              </td>
            </tr>
          </table>
          <x-footer />
        </td>
      </tr>
    </table>
  </div>
</x-main>
